<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deliver</title>
    <style type="text/css">
        body *{user-select: none}
    </style>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <span>密码 </span><input type="password" name="password">
    <span>下载次数 </span><input type="number" name="dlNumber">
    <span>保存时间 </span><input type="number" name="time"><span>小时</span>
    <input type="submit" value="上传">
</form>
<a href="getFile">取 件</a>
</body>
</html>